<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>   
            <div class="container-filter">
                <form  method="post">
                    <select name="car" id="car">
                        <option value="shadow-car" selected disabled>Selecionar veiculo</option>
                        <option value="audi-a3">Audi A3</option>
                        <option value="cruze">Cruze</option>
                        <option value="toro">Toro</option>
                    </select>
                    <input id="btn-car" type="submit" value="Analisar">
                </form>
            </div>   
            <div class="container-imageCar">
                <img src="<%= picture %>" alt="<%= desc %>" >
            </div>
            <div class="container-box">
                <div class="box-1">
                    <span class="icon"><i class="fa-solid fa-sack-dollar"></i></span>
                    <span class="info">Despesa</span>
                    <span class="values"><%= value %></span>
                </div>
                <div class="box-2">
                    <span class="icon"><i class="fa-solid fa-wrench"></i></span>
                    <span class="info">Oficinas</span>
                    <span class="values"><%= places %></span>
                </div>
                <div class="box-3">
                    <span class="icon"><i class="fa-solid fa-arrow-trend-up"></i></span>
                    <span class="info">KM</span>
                    <span class="values"><%= km %></span>
                </div>
            </div>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>